<h2><a href="<%=edit_cat_url(@cat) %>"><%= @cat.name %></a></h2>

<ul>
    <li><%= @cat.birth_date %></li>
    <li><%= @cat.color %></li>
    <li><%= @cat.sex %></li>
    <li><%= @cat.description %></li>
</ul>
<>